{% extends "base.html" %}

<!-- {% block announce %}
Check out the <a href="/updates/2024/06/14/update-post---mid-june-2024.htmll"><strong>Mid June 2024 update post</strong></a>, and try out nicknames and other new adjustments/commands!
{% endblock %} -->

<!-- Site title -->
{% block htmltitle %}
{% if page.is_homepage %}
  <title>{{ config.site_name }}</title>
{% elif page.meta and page.meta.title %}
  <title>{{ page.meta.title }} - {{ config.site_name }}</title>
{% elif page.title and not page.is_homepage %}
  <title>{{ page.title | striptags }} - {{ config.site_name }}</title>
{% else %}
  <title>{{ config.site_name }}</title>
{% endif %}
{% endblock %}