[data-md-color-primary=purple] {
  --md-primary-fg-color: #c156e0;
  --md-primary-fg-color--light: #c156e0;
  --md-primary-fg-color--dark: #c156e0;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: hsla(0, 0%, 100%, .7);
}

.md-typeset figure img {
  display: inline;
}