[data-md-color-primary=deep-purple] {
  --md-primary-fg-color: #b05bff;
  --md-primary-fg-color--light: #b05bff;
  --md-primary-fg-color--dark: #b05bff;
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: hsla(0, 0%, 100%, .7);
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #a456ed;
}
